DATABASE_URL="postgres://postgres:postgres@db.localtest.me/main"

JWT_SECRET="<YOUR_JWT_SECRET>"
DOMAIN"="<YOUR_DOMAIN>"
API_URL="<YOUR_API_URL>"
FRONTEND_URL="<YOUR_FRONTEND_URL>"


GITHUB_CLIENT_ID="<YOUR_ CLIENT_ID>"
GITHUB_CLIENT_SECRET="<YOUR_CLIENT_SECRET>"

GOOGLE_CLIENT_ID="<YOUR_ CLIENT_ID>"
GOOGLE_CLIENT_SECRET="<YOUR_CLIENT_SECRET>"
